<IfModule mod_expires.c>
  ExpireActif le

  # Images
  ExpiresByType img/1.jpg "accès plus 1 an"
  ExpiresByType img/2.jpg "accès plus 1 an"
  ExpiresByType img/3.webp "accès plus 1 an"
  ExpiresByType img/4.webp "accès plus 1 an"
  ExpiresByType img/citation.webp "accès plus 1 an"
  ExpiresByType img/dot-bg.webp "accès plus 1 an"
  ExpiresByType img/image-de-presentation.webp "accès plus 1 an"
  ExpiresByType img/la-chouette-agence.webp "accès plus 1 an"
  ExpiresByType img/la-chouette-agence-banniere.webp "accès plus 1 an"
  ExpiresByType img/logo.webp "accès plus 1 an"
  ExpiresByType img/texture-paper.webp "accès plus 1 an"
  ExpiresByType img/title.webp "accès plus 1 an"
  ExpiresByType img/title2.webp "accès plus 1 an"
  ExpiresByType favicon.jpg "accès plus 1 an"

  # CSS, JavaScript
  ExpiresByType css/boostrap.css "accès plus 1 mois"
  ExpiresByType css/et-line.css "accès plus 1 mois"
  ExpiresByType css/font-awesome.css "accès plus 1 mois"
  ExpiresByType application / javascript "accès plus 1 mois"
  ExpiresByType style.css "accès plus 1 mois"
</IfModule>